body{
  background-size:cover;
  background-position: center;  
}

.heading{
    width:100%;
    height:50px;
    font-size:30px;
}

canvas{
    margin-top:150px;
    border-color:black;
    border-style: dashed;
    border-radius: 20px ;
}